<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "btn btn-flat" do %>
    <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614182368/farming_nj7zjh.png" class="logo" alt="logo">Ground BnB
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <%= link_to "Browse all gardens", allotments_path, class: "btn btn-outline-success" %>
      <img class="avatar" alt="avatar" src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614182447/user_j2hkzo.png">
    </div>
  </div>
<% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "Ground BnB", root_path, class: "btn btn-flat" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <%= link_to "Browse all gardens", allotments_path, class: "btn btn-outline-success" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-flat" %>
    </div>
  </div>
<% end %>

