

<%= form_tag allotments_path, method: :get do %>
<div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an allotment",
    style: "max-width: 42vw;"
  %>
  <%= submit_tag "Search", class: "btn btn-flat", style: "left: 43vw;" %>
  </div>
<% end %>
<div class="card-box">
  <div class="card">
    <% @allotments.each do |allotment| %>
      <div class="card-product">
        <% if allotment.photos.attached? %>
          <%= cl_image_tag(allotment.photos.first.key,
                width: 400, height: 300, crop: :fill) %>
          <% else %>
            <img src= "https://images.unsplash.com/photo-1416879595882-3373a0480b5b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" class="card-product-img">
        <% end %>
        <%= link_to allotment_path(allotment), target: "_blank" do%>
          <div class="card-product-infos">
            <div class="card-product-info1">
              <h3><%= allotment.name %></h3>
              <p><%= allotment.description[0, 100] %>...</p>
              <p>Size: <%= allotment.area_size%>m<sup>2</sup></p>
              <p>Price: <%= "£#{allotment.price} per month" %></p>
            </div>
          </div>
        <% if allotment.user != current_user %>
          <img class="card-product-user avatar-bordered" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        <% elsif allotment.user == current_user %>
          <img class="card-product-user avatar-bordered" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="card" id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>


