<div class="container show-background">

  <div class="flex">

    <h1><%# add icon %><%= @allotment.name %><%# add icon %></h1>

  </div>

  <div class="photo-box">
      <% if @allotment.photos.attached? %>
        <%= cl_image_tag(@allotment.photos.first.key,
          crop: :fill, style: "border-radius: 10px;") %>
      <% else %>
         <img src= "https://images.unsplash.com/photo-1416879595882-3373a0480b5b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" style="border-radius: 10px;">
      <% end %>
  </div>

  <div class="flex details">
    <div class="description-container">
    <div class="description-header">
      <h4>A little bit about this allotment</h4>
      <div class="description-header-img">
        <% if @allotment.user != current_user %>
        <% avatars = ["https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614345622/jane_kgqddw.png", "https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614345377/john_aj1jop.jpg"] %>
          <img class="avatar-large" alt="avatar-large" src= <%= avatars.sample%> />
        <% elsif @allotment.user == current_user %>
          <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614345377/john_aj1jop.jpg" />
        <% end %>
        <p>Owned by: <%= @allotment.user.email %></p>
      </div>
    </div>
    <div class="description">
      <div>
      <p style="max-width: 40vw;"><%= @allotment.description %></p>
      </div>
      <p><i class="fas fa-street-view"></i> <%= @allotment.location %></p>
      <p><i class="fas fa-ruler-horizontal"></i> Size: <%= @allotment.area_size %>m<sup>2</sup></p>
    </div>
    <div class="description-map">
    <div class="card" id="map"
     style="width: 615px; height: 400px; border-radius: 10px; position: relative; margin-top: 0px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    </div>

  <% if @allotment.user != current_user %>
  <div>
    <div class="booking">
      <h4>Select dates for prices</h4>
      <h6><strong>£</strong><strong class="price"><%= @allotment.price %></strong> per month</h6>
      <h5 class="totalprice"></h5>
      <%= simple_form_for [@allotment, @booking] do |f| %>
        <span>START DATE</span>
        <%= f.input :start_date, label: false, as: :string, input_html: {class: "datepickerstart"} %>
        <span>END DATE</span>
        <%= f.input :end_date, label: false, as: :string, input_html: {class: "datepickerend"} %>
        <button type="button" class="btn btn-flat book-button" data-toggle="modal" data-target="#exampleModal" disabled>Book</button>
          </div>
      </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Booking Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <%= f.submit class: "btn btn-flat" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>

  <% if @allotment.user == current_user %>
  <div>
    <div class="options">
      <%= link_to edit_allotment_path(@allotment), class: "btn btn-flat" do %>
        <span id="edit"><i class="fas fa-tools"></i> Edit</span>
        <% end %>
      <%= link_to allotment_path(@allotment), method: :delete, data: {confirm: "Are you sure you wish to delete it?"}, class: "btn btn-flat" do %>
        <span id="edit"><i class="fas fa-trash-alt"></i> Delete</span>
        <% end %>
    </div>
    </div>
  <% end %>

  </div>

</div>
