<div class="container show-background">

  <div class="flex">

    <h1><%# add icon %><%= @allotment.name %><%# add icon %></h1>

  </div>

  <div class="flex">

      <% if @allotment.photos.attached? %>
        <%= cl_image_tag(@allotment.photos.first.key,
          width: 400, height: 300, crop: :fill) %>
      <% else %>
         <img src= "https://images.unsplash.com/photo-1416879595882-3373a0480b5b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" width="400" height="300">
      <% end %>
    <div class="card" id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

  <div class="flex details">

    <div class="description">
      <h4>A little bit about this allotment</h4>
      <p><%= @allotment.description %></p>
      <p><i class="fas fa-street-view"></i> <%= @allotment.location %></p>
      <p><i class="fas fa-ruler-horizontal"></i> Size: <%= @allotment.area_size %>m<sup>2</sup></p>
      <p>Owned by: <%= @allotment.user.email %></p>
    </div>

  <% if @allotment.user != current_user %>
    <div class="booking">
      <h6><strong>£</strong><strong class="price"><%= @allotment.price %></strong> per month</h6>
      <h5 class="totalprice"></h5>
      <%= simple_form_for [@allotment, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: {class: "datepickerstart"} %>
        <%= f.input :end_date, as: :string, input_html: {class: "datepickerend"} %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>

  <% if @allotment.user == current_user %>
    <div class="options">
      <ul>
        <li class="btn btn-flat fas fa-tools"><span id="edit"><%= link_to "Edit", edit_allotment_path(@allotment)  %></span></li>
        <br>
        <br>
        <li class="btn btn-flat fas fa-trash-alt" id="delete"> <span><%= link_to "Delete", allotment_path(@allotment), method: :delete, data: {confirm: "Are you sure you wish to delete it?"} %></span></li>
      </ul>
    </div>
  <% end %>

  </div>

</div>
