<div class="container show-background">

  <div class="flex">
    <h2><%= @allotment.name %></h2>

    <div class="options">
      <span><%= link_to "Delete", allotment_path(@allotment), method: :delete, data: {confirm: "Are you sure you wish to delete it?"} %></span>
      <span><%= link_to "Edit", edit_allotment_path(@allotment)  %></span>

    </div>

  </div>

  <div class="flex">

      <% if @allotment.photos.attached? %>
        <%= cl_image_tag(@allotment.photos.first.key,
          width: 400, height: 300, crop: :fill) %>
      <% else %>
         <img src= "https://images.unsplash.com/photo-1416879595882-3373a0480b5b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" width="400" height="300">
      <% end %>
    <img src="https://via.placeholder.com/500x300?text=Map" alt="">

  </div>

  <div class="flex details">

    <div class="description">
      <h4>A little bit about this allotment</h4>
      <p><%= @allotment.description %></p>
      <p><i class="fas fa-street-view"></i> <%= @allotment.location %></p>
      <p><i class="fas fa-ruler-horizontal"></i> Size: <%= @allotment.area_size %>m<sup>2</sup></p>
      <p>Owned by: <%= @allotment.user.email %></p>
    </div>

    <div class="booking">
      <h6><strong>£<%= @allotment.price %></strong> per month</h6>
      <%= simple_form_for [@allotment, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit %>
      <% end %>
    </div>

  </div>

</div>
