<div class="container show-background">

  <div class="flex">
    <h2><%= @allotment.name %></h2>

    <div class="options">
      <span><%= link_to "Delete", allotment_path(@allotment), method: :delete, data: {confirm: "Are you sure you wish to delete it?"} %></span>
      <span><%= link_to "Edit", edit_allotment_path(@allotment)  %></span>
    </div>

  </div>

  <div class="flex">
    <img src="https://hightimes.com/wp-content/uploads/2017/11/Outdoor-Marijuana-Growing-For-Beginners-Header.jpg" class="pics" alt="">
    <img src="https://cdn.images.express.co.uk/img/dynamic/25/590x/secondary/Google-Maps-2702826.jpg?r=1602181753125/" class="pics" alt="">
  </div>

  <div class="flex details">

    <div class="description">
      <h4>A little bit about this allotment</h4>
      <p><%= @allotment.description %></p>
      <p><i class="fas fa-street-view"></i> <%= @allotment.location %></p>
      <p><i class="fas fa-ruler-horizontal"></i> Size: <%= @allotment.area_size %>m<sup>2</sup></p>
      <p>Owned by: <%= @allotment.user.email %></p>
    </div>

    <div class="booking">
      <h6><strong>£<%= @allotment.price %></strong> per month</h6>  
      <%= simple_form_for [@allotment, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit %>
      <% end %>
    </div>

  </div>

</div>
