<!DOCTYPE html>
<html>
  <head>
    <title>GroundBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614345266/favicon_bh3r6r.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="page-container">
      <div class="navbar-container sticky-top"><%= render "shared/navbar" %></div>
      <%= render "shared/flashes" %>
      <div class="content-container"><%= yield %></div>
      <div class="footer-container"><%= render "shared/footer" %></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </body>
</html>
